<div class="header-container">
  <div class="navbar">
    <a href="/" aria-label="Go to homepage">jamesdavies.dev</a>
    <nav>
      <a href="/work">work</a>
      <a href="/projects">projects</a>
      <a href="/blog">blog</a>
    </nav>
  </div>
</div>
