* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 1rem;
  --user-font-scale: 1rem - 16px;
  font-size: clamp(
    0.875rem,
    0.4626rem + 1.0309vw + var(--user-font-scale),
    1.125rem
  );
  --primary-color: rgb(212 212 216);
  --secondary-color: #abc4aa;
  --hover-color: gray;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body a:hover {
  color: var(--hover-color);
}

@media (prefers-color-scheme: dark) {
  body {
    background: #111827;
    color: var(--primary-color);
  }
}

h2 {
  font-weight: 500;
  font-size: clamp(1.5rem, 1rem + 1.25vw, 2rem);
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 50;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.header-container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.navbar nav a {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.navbar a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

main {
  flex: 1 1 0%;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.main-content {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}


article {
  margin-top: 1rem;
  margin-bottom: 1rem;
  opacity: 0.8;
}

article p {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  line-height: 1.25rem;
}

.intro p {
  font-weight: 600;
  margin: .5rem 0
}

.section-spacer {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

section a {
  color: inherit;
  text-decoration: none;
}

.section-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.section-header a {
  font-weight: 600;
}

.work-section ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  gap: 0.25rem;
}

.social-links {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
