---
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
---

<header>
  <Navbar />
</header>
<main>
  <div class="main-content">
    <p>
      Hi, I'm James Davies. I'm a software engineer working at the Financial
      Times
    </p>
  </div>
</main>
