---
// Style Imports
import "../styles/global.css";
import "../styles/home.css";
---

<main>
	<header>
	<div>
		<h1><a href="https://jamesdavies.dev">jamesdavies.dev</a></h1>
		<br/>
		<img width="300" height="300" src="/assets/hello.gif" alt="Hello" />
	</div>
	</header>
</main>
