---
layout: base.njk
title: James Davies
---
<section>
  <div class="intro">
    <p>James Davies</p>
    <p>Software Engineer</p>
  </div>
  <article>
    <p>
      I'm a software engineer, passionate problem solver, mentor, tech lead,
      husband, father and keen cook.
    </p>
    <p>
      I have a passion for building (breaking) things, solving problems and
      learning new technologies. I have keen interests in backend development,
      API design, developer automation tooling and web technologies.
    </p>
    <p>
      Here you'll find my work, projects and blog posts on all sorts of
      things.
    </p>
  </article>
</section>
<section class="section-spacer work-section">
  <div class="section-header">
    <a href="/work">Work</a>
    <a href="/work">View all work</a>
  </div>
  <ul>
    <li style="font-weight: 600;">Financial Times</li>
    <li>Senior Software Engineer</li>
    <li>Mar 2021 - Present</li>
    <article>
      <p>
        I am currently working as a Senior Software Engineer at the
        Financial Times. I work in the Origami team as a Workstream lead,
        building services and tools to help other teams build and maintain
        their web applications.
      </p>
    </article>
  </ul>
</section>
<section class="section-spacer">
  <p style="font-weight: 600;">Connect with me</p>
  <article>
    If you want to get in touch with me, you can reach me on social media or
    via email.
  </article>
  <ul class="social-links">
    <li>
      <a href="https://x.com/jamesmikedavies">
        <img src="/assets/x.svg" width="48" height="48" alt="X"/>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/jamesmikedavies/">
        <img src="/assets/linkedin.svg" width="48" height="48" alt="LinkedIn"/>
      </a>
    </li>
    <li>
      <a href="https://github.com/j-dav">
        <img src="/assets/github.svg" width="48" height="48" alt="GitHub"/>
      </a>
    </li>
  </ul>
  <a href="mailto:jamesmikedavies@gmail.com">jamesmikedavies@gmail.com</a>
</section>
